.container{
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 300px 70% 3%;
    grid-gap: 20px;
    font-size: 18px;
    color: #2D3748;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
}

header{
    background-color: #63B3ED;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-row: 1;
    grid-column: 1 / 3;
    padding: 3px;
    /* flex-wrap: wrap;
    flex-flow: wrap; */
}

img[src="camel.jpg"]{
    border-radius: 50%;
    padding: 1%;
    width: 100px;
    height: 100px;
}

h1{
    font-size: 36px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#date{
    color: #718096;
}

main{
    padding: 10%;
    grid-row: 2;
    grid-column: 1;
}

h2{
    font-size: 32px;
    color: #48BB78;
}

h3{
    font-family: 'Times New Roman', Times, serif;
}

#smheading, #arheading{
    color: #48bb78;
}

#abheading{
    color: #000000;
    background-color: #E2E8F0;
}

#about{
    background-color: #E2E8F0;
    padding: 15px;
}

a{
    color: #4299E1;
}

img[src="snake2.JPG"]{
    float: left;
    padding: 20px;
    height: 150px;
    width: 200px;
}

img[src="falls2.JPG"]{
    float: right;
    padding: 20px;
    height: 200px;
    width: 200px;
}

aside{
    padding: 10%;
    grid-row: 2;
    grid-column: 2;
}

footer{
    background-color: #2C5282;
    color: #FFFFFF;
    /*height: 200px;*/
    grid-row: 3;
    grid-column: 1 / 3;
}